= form_for @password do |f|
  - if @password.errors.any?
    #error_explanation
      %h2= "#{pluralize(@password.errors.count, "error")} prohibited this password from being saved:"
      %ul
        - @password.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :password
    = f.text_field :password
  .field
    = f.label :category_id
    = f.collection_select :category_id, Category.accessible_by(current_ability), :id, :name
  .actions
    = f.submit 'Save', :class => "btn"
