= content_for :sidebar do
  %div#sidebar-nav
    - if @category.nil?
      %ul.nav.nav-tabs.nav-stacked
        - Category.roots.each do |category|
          %li
            = link_to category.name, passwords_path(:category => category.id)
    - else
      %ul.nav.nav-tabs.nav-stacked
        %li
          %a{ :href => passwords_path(:category => @category.parent_id) }
            %i.icon-chevron-left
            Back
        - @category.children.each do |category|
          %li
            = link_to category.name, passwords_path(:category => category.id)

  

- if @category
  %h1= @category.name

%table.table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @passwords.each do |password|
    %tr
      %td= password.name
      %td= password.description
      %td= link_to 'Show', password
      %td= link_to 'Edit', edit_password_path(password)
      %td= link_to 'Destroy', password, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Password', new_password_path(:category => params[:category]), :class => "btn"
