= form_for @category do |f|
  - if @category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
      %ul
        - @category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :parent_id
    = f.collection_select :parent_id, Category.accessible_by(current_ability).select { |x| x != @category.id }, :id, :name, :prompt => "Root"
  .field
    = f.label :group_ids, "Access"
    = f.collection_select :group_ids, current_user.groups, :id, :name, {},:multiple => true
  .actions
    = f.submit 'Save'
